<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/style_mobile.css">
</head>
<body>
<div id="smileys" class="div-main">
    <p class="ss-main">
        SINTRA SENTIMENT
    </p>
    <div class="div-lev-2-content">
        <span class="news-text" id="news_content"> {{ news_content }} </span></div>
    <div class="div-sad-button">
        <input type="button" name="smiley" class="sad" onclick="send_response('{{ news_id }}', '0')">
    </div>
    <div class="div-happy-button">
        <input type="button" name="smiley" class="happy" onclick="send_response('{{ news_id }}', '1')">
    </div>
</div>


<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="loader">Loading...</div>
        </div>
    </div>
</div>

<p class="mtt">
    With <span>♥</span> from Mingafria
</p>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="static/comm.js"></script>
</body>
</html>